body,
p,
h1,
h2 {
  margin: 0;
}

html {
  background-color: beige;
  font-family: "Hero";
}
@font-face {
  font-family: "Hero";
  src: url("./fonts/Hero.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
